
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">

    <form action="/Calculator/XuLy" method="post">
        <asp:Label runat="server" Text="Nhập a:" for="soA">Nhập a</asp:Label>
        <input type="text" name="a" />

        <br />

        <asp:Label runat="server" Text="Nhập b:" for="soB">Nhập b</asp:Label>
        <input type="text" name="b" />
        <br />

        <asp:RadioButtonList runat="server">
            <input value="+" type="radio" name="op" /> Cộng
            <input value="-" type="radio" name="op" /> Trừ
            <input value="*" type="radio" name="op" /> Nhân
            <input value="/" type="radio" name="op" /> Chia
        </asp:RadioButtonList>

        <br />

        <input type="submit" value="Calculate" />

        <p>@ViewBag.kq</p>
    </form>

</div>
