@{
    ViewBag.Title = "Thông tin sinh viên";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="margin-top: 50px;">
        <table border="1" width="400px" height="200px">
            <tr>
                <th colspan="2">
                    Thông tin sinh viên
                </th>
            </tr>
            <tr>
                <td>
                    Mã SV:
                </td>
                <td>
                    SV001
                </td>
            </tr>
            <tr>
                <td>
                    Họ tên:
                </td>
                <td>
                    Lê Thị Vân
                </td>
            </tr>
            <tr>
                <td>
                    Ngày sinh:
                </td>
                <td>
                    16-09-2003
                </td>
            </tr>
            <tr>
                <td>
                    Quê quán:
                </td>
                <td>
                    Nam từ Liêm, Hà Nội
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
